#the-wedding
  .row
    .col-md-3
    .col-md-6
      .section-title
        The Wedding
  .row  
    .col-md-2.col-sm-2
    .col-md-8.col-sm-8
      .desc
        %p
          The ceremony and reception will both be held at Ventosa Vineyards in  Geneva, New York on May 25, 2014. The ceremony will be at 4:30 p.m. with a reception immediately to follow.
  .row
    .col-md-2
    .col-md-8
      .col-md-4.location-info
        %p.wedding-heading Ceremony & Reception Location
        %p.location-name
          = link_to "Ventosa Vineyards", "http://www.ventosavineyards.com/"
        .location-address 3440 New York 96A
        .location-address Geneva, NY 14456
        .location-phone (315) 719-0000
        %p.directions
          = link_to "Get Directions", "https://goo.gl/maps/r45VV"
      .col-md-4.wedding-party
        %p.wedding-heading Wedding Party
        %p.wedding-party-tite Matron of Honor:
        %ul
          %li.wedding-party-person Nicole Ceres, childhood friend of the bride
        %p.wedding-party-tite Bridesmaids:
        %ul
          %li.wedding-party-person Tessa Carpitella, childhood friend of the bride
          %li.wedding-party-person Amanda Haessler, childhood friend of the bride
          %li.wedding-party-person Emily Walsh, childhood friend of the bride
          %li.wedding-party-person Rose Kennedy, sister of the bride
          %li.wedding-party-person Steph Schneiderman, sister of the groom
        %p.wedding-party-tite Best Woman:
        %ul
          %li.wedding-party-person Emily Egeland, college friend of the groom
        %p.wedding-party-tite Grooms people:
        %ul
          %li.wedding-party-person Alex Grant, college friend of the groom
          %li.wedding-party-person Alex Howland, college friend of the groom
          %li.wedding-party-person Rob Heslin, robotics mentor and friend of the groom

      .col-md-4.hotel-info
        %p.wedding-heading Hotel Accommodations
        .hotel
          %p.name Ramada
          %p.addr1 41 Lakefront Drive
          %p.addr2 Geneva, NY 14456
          %p.phone 315-789-0400
          %p.map
            = link_to "map", "https://goo.gl/maps/dGLgg"
        .hotel
          %p.name Days Inn
          %p.addr1 485 Hamilton St.
          %p.addr2 Geneva, NY 14456
          %p.phone 315-789-4000
          %p.map
            = link_to "map", "https://goo.gl/maps/n3RRc"
        .hotel
          %p.name DoubleTree
          %p.addr1 1111 Jefferson Road
          %p.addr2 Rochester, NY 14623
          %p.phone 585-475-1510
          %p.map
            = link_to "map", "https://goo.gl/maps/xdkYp"
          
