/ Using partials in order to re-arrange the structure of the site at any time
.col-md-12
  = render :partial => "fixed_nav"
.col-md-12
  = render :partial => "nav"
.col-md-12
  = render :partial => "introduction"
.col-md-12
  = render :partial => "our_story"
.col-md-12
  = render :partial => "the_wedding"
.col-md-12
  = render :partial => "photos"
.col-md-12
  = render :partial => "registries"