/ Using partials in order to re-arrange the structure of the site at any time
= render :partial => "fixed_nav"
= render :partial => "nav"
= render :partial => "introduction"
= render :partial => "our_story"
= render :partial => "the_wedding"
= render :partial => "photos"
= render :partial => "registries"